clientPort={{ client_port }}
tickTime={{ tick_time }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
standaloneEnabled=false
dynamicConfigFile={{zk_home}}/conf/zoo.cfg.dynamic
